.post-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  margin: 20px;
  // border: solid;

  h2 {
    font-size: 45px;
    color: rgb(168, 118, 62);
  }

  p {
    font-size: 25px;
  }
}
